
{% extends 'listings/base.html' %}
 {% block content %}

    <h1>Groupes </h1>
        <a href="{% url 'band-create' %}">Créer un nouveau groupe</a>
    <p> Mes groupes préférés sont : </p>
    <p>
        <ul>
        {% for band in bands %}

            <li><a href="{% url 'band-detail' band.id %}"> {{band.name | upper}}</a>
            <a href="{% url 'band-change' band.id %}">[Modifier]</a>
                <a href="{% url 'band-delete' band.id %}">[Supprimer]</a>
            </li>


        {% endfor %}
        </ul>

 {% endblock %}