{% extends 'listings/base.html' %}
 {% block content %}
    <h2>{{ listes_det.title }}</h2>

<ul>
 <li>Title : {{ listes_det.title }}</li>
 <li>Description : {{ listes_det.description }}</li>
 <li>Année : {{ listes_det.year }}</li>
    <li>Solde : {{ listes_det.sold }} </li>
    <li>Type : {{ listes_det.get_type_display }}</li>
    <li> Band : {{ listes_det.band }} </li>
</ul>
<a href="{% url 'listing-change' listes_det.id %}">Modifier cette annonce</a>
<a href="{% url 'listing-delete' listes_det.id %}">Supprimer cette annonce </a>
<a href="{% url 'listing-list' %} ">Retour à toutes les listes </a>
 {% endblock %}

